@model HRWebApp.Models.Benefit_Plans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Benefit_Plans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plan_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deductable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deductable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percentage_CoPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percentage_CoPay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Benefit_Plan_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
