@model IEnumerable<HRWebApp.Models.Benefit_Plans>

@{
    ViewBag.Title = "Index";
}
<div class="module">
    <div class="module-head">
        <h3>Benefit Plans - @Html.ActionLink("Create New", "Create")</h3>
    </div>
    <div class="module-body table">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%">
            <thead>
                <tr>
                    <th>
                        Plan Name
                        @*@Html.DisplayNameFor(model => model.Plan_Name)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deductable)
                    </th>
                    <th>
                        Percentage CoPay
                        @*@Html.DisplayNameFor(model => model.Percentage_CoPay)*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plan_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deductable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percentage_CoPay)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Benefit_Plan_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Benefit_Plan_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Benefit_Plan_ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div><!--/.module-->
