@model HRWebApp.Models.Job_History

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job_History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personal.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supervisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departmen_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departmen_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay_Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay_Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours_per_Week)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours_per_Week)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hazardous_Training)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hazardous_Training)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
